{{#> main-layout }}



    {{#> paragraph }}สวัสดี {{name}}{{/paragraph}}
    {{#> paragraph }}คุณได้นัดหมาย{{/paragraph}}
    <p style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 1em; line-height: 1.4em; color: #04070d; margin: 1em 0; padding: 0;">
    </p>
    <p style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 1em; line-height: 1.4em; color: #04070d; margin: 1em 0; padding: 0;">กรุณารอ
    </p>
    <p style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 1em; line-height: 1.4em; color: #04070d; margin: 1em 0; padding: 0;">If you requested this change you can ignore this email.
        If this wasn't you, your account may have been compromised. Please contact our support team.
    </p>
    <p style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 1em; line-height: 1.4em; color: #04070d; margin: 1em 0; padding: 0;"><a class="btn-primary" href="mailto:support@omise.co?subject=%5BURGENT%5D%20Account%20compromised" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 1em; line-height: 1.8em; color: white; text-decoration: none; background-color: #1A53F0; font-weight: normal; text-align: center; cursor: pointer; display: inline-block; border-radius: 4px; margin: 0 10px 0 0; padding: 0.2em 1.5em;">Contact Omise Support</a></p>


    <br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;" />

    <p class="signature" style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 1em; line-height: 1.4em; color: #04070d; margin: 1em 0; padding: 0;">With kind regards,
        <br style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6; margin: 0; padding: 0;" />Omise team
    </p>

{{/main-layout}}